

/* ==========================================================================
   Advent custom styles
   ========================================================================== */
.container {
}

.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

.flex-item-closed {

    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;

    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}

.flex-item-open {

    line-height: 150px;
    color: white;
    font-size: 1em;
    text-align: center;

    transform: rotateY(180deg);
}

.calender li.flip .flipper {
    transform: rotateY(180deg);
}

.calender li:hover .flipper {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.flipper {
    width: 200px;
    height: 150px;
    margin-top: 10px;

    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
}

/* hide back of pane during swap */
.flex-item-open, .flex-item-closed {
    padding: 5px;
    width: 200px;
    height: 150px;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-flex-flow: row wrap;

    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

h1,h2,h3,h4,h5,h6 {
    flex: 0 0 100%;
    margin: 10px 0 0 0 !important;
    padding: 0 !important;
}

.color1 {
    background: #F5624D;
}
.color2{
    background: #CC231E;
}
.color3{
    background: #34A65F;
}
.color4{
    background: #0F8A5F;
}
.color5{
    background: #235E6F;
}




